extends includes/layout.pug

block content
  include ./includes/mixins/post-ui.pug
  .layout-main
    #recent-posts.recent-posts
      +postUI

block pagination_after_aside
  include includes/pagination.pug